.App {
  width: 100vw;
  height: 100vh;

  display: flex;
}
body {
  margin: 0;
  border: none;
  touch-action: none;
  overflow: hidden;
}
h1 {
  color: aliceblue;
}
@font-face {
  font-family: "Cinzel Decorative";
  src: local("CinzelDecorative"),
    url("./font/CinzelDecorative-Regular.ttf") format("truetype");
}

.title {
  color: rgb(151, 151, 151);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  mix-blend-mode: color-dodge;
  text-align: center;
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
  font-family: "Cinzel Decorative", cursive;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
